{% extends 'website/base.html' %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <!-- footer -->
    <fooetr>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                   {% if user.is_authenticated %}
                    <center>
                    <h1>&#x26A0;</h1>
                    <h1>You already logged in!</h1>
                    <h4 style="font-weight:bold">Some problem may have occurred </h4>
                    <h4 style="font-weight:bold">Please Return to Home page!</h4>
                    <a href="{% url 'home'%}"><button type="button" class="btn btn-success btn-lg">&#x26A0; Return Home</button></a>
                    </center>
                    {% else %}

                    <div class=" col-md-12">
                    <h2><strong class="white">Log-in</strong></h2>
                  </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <form class="main_form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <input class="form-control" placeholder="username" type="text" name="username" value="{{ form.username.field.value | default_if_none:''}}">
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <center>
                                    <button class="send">Log-in</button>
                                    </center>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                          <br>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                              <input class="form-control" placeholder="Password" type="password" name="password" value="{{ form.password.field.value | default_if_none:'' }}">
                          </div>
                    </div>
                </div>
            </form>
        </div>
    </fooetr>
    <!-- end footer -->
    {% endif %}
{% endblock %}