{% extends 'website/js.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container mt-5">
        <div class="row">
        {% for food in foods %} 
          <div class="col-sm-5 col-lg-5 mt-3">
                <div class="card text-center bg-secondary" style="width: 18rem;">
                  <div class="card-body">
                    <h2 class="card-title">{{food.food_category}}</h2>
                    <a href="{{ food.category_slug }}" class="btn btn-primary">Order</a>
                  </div>
                </div>
          </div>
        {% endfor %}
        </div>  
      </div>
    {%else%}
  <div style="background-color:#666666; margin:auto; padding:auto;">  
    <div class="container mt-5">
  <div class="col-sm-6 col-lg-12 mt-3" style="padding: 100px 400px 200px 400px">
  <div class="card text-center" style="width: 18rem; height: 13rem;">
    <div class="card-body border border-danger rounded">
      <p class="card-text"><h1>You need to Register or Login!</h1></p>
      <a href="{% url 'register' %}" class="card-link btn btn-primary mt-5">Register</a>
      <a href="{% url 'login' %}" class="card-link btn btn-primary mt-5">Login</a>
    </div>
    </div>
    </div>
    </div>
</div>    
    {% endif %}  
{% endblock %}
