altgraph==0.17
argon2-cffi==20.1.0
asgiref==3.3.1
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configparser==5.0.1
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
django-tinymce4-lite==1.8.0
entrypoints==0.3
future==0.18.2
gTTS==2.2.1
gunicorn==20.0.4
idna==2.10
inflection==0.5.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.0
jsmin==2.2.2
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
more-itertools==8.6.0
MouseInfo==0.1.3
mpl-finance==0.10.1
mplfinance==0.12.7a0
mysql-connector-python==8.0.22
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nnfs==0.5.1
notebook==6.1.5
notification==0.2.1
numpy==1.19.4
packaging==20.8
pandas==1.1.4
pandas-datareader==0.9.0
pandocfilters==1.4.3
parso==0.7.1
pefile==2019.4.18
phonenumbers==8.12.15
pickleshare==0.7.5
Pillow==8.0.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psycopg2==2.8.6
PyAutoGUI==0.9.52
pycparser==2.20
pyfiglet==0.8.post1
pygame==2.0.0
PyGetWindow==0.0.9
Pygments==2.7.3
PyGoogleVoice==0.5.2
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
python-dateutil==2.8.1
python-decouple==3.3
PyTweening==1.0.3
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==20.0.0
Quandl==3.5.3
requests==2.25.0
scikit-learn==0.24.0rc1
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tornado==6.1
tqdm==4.54.0
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.48.0
wget==3.2
whitenoise==5.2.0
win10toast==0.9
